  <!-- inner-hero-section start -->
  <div class="inner-hero-section style--six">
    <!-- <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape.png" alt="image"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="page-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="#0">Communities</a></li>
             <li><a href="#0">My cart</a></li>
             </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- inner-hero-section end -->

<!-- cart section start -->
<section class="pb-120 mt-minus-300">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-wrapper">
          <h2 class="cart-wrapper__title">My Cart</h2>
          <div class="row justify-content-lg-between">
            <div class="col-lg-7">
              <div class="ticket-wrapper">
                <div class="ticket-wrapper__header">
                  <h3>Your tickets:</h3>
                  <button type="button" (click)="clearall()">clear all</button>
                </div>
                <div class="ticket-wrapper__body">
                  <div class="single-row" *ngFor="let value of quickdata | keyvalue">
                    <ul class="numbers">
                      <li>{{value.value[0]}}</li>
                      <li>{{value.value[1]}}</li>
                      <li>{{value.value[2]}}</li>
                      <li>{{value.value[3]}}</li>
                      <li>{{value.value[4]}}</li>
                      <li>{{value.value[5]}}</li>
                    
                    </ul>
                    <div class="action-btns">
                       <button type="button" class="edit-btn" (click)="gototicket(value.key,value.value)"><i class="las la-pen"></i></button>
                       <button type="button" class="del-btn" (click)="closetick(value.key)"><i class="las la-trash-alt"></i></button>
                    </div>
                  </div><!-- single-row end -->
                 
                 
              
                  
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-5">
              <div class="checkout-wrapper">
                <div class="checkout-wrapper__header">
                  <h3>Your tickets:</h3>
                </div>
                <div class="checkout-wrapper__body">
                  <ul class="price">
                    <li>
                      <div class="left">
                        <h4 class="caption">Ticket Price</h4>
                        <span>({{ count ==
                          undefined ? '0' : count }} tickets X <i class="lab la-btc text-white"></i>4.99)</span>
                      </div>
                      <div class="right">
                        <span class="price"><i class="lab la-btc text-white"></i>{{ tickdata ==
                          undefined ? '0' : tickdata }}</span>
                      </div>
                    </li>
                    <li>
                      <div class="left">
                        <h4 class="caption">Total</h4>
                      </div>
                      <div class="right">
                        <span class="price"><i class="lab la-btc text-white"></i>{{ tickdata 
                          == "undefined" ? '0' : tickdata }}</span>
                      </div>
                    </li>
                  </ul>
                  <div class="checkout-wrapper__btn">
                    <button type="submit" class="cmn-btn btn--sm">Place Order</button>
                  </div>
                </div>
              </div><!-- checkout-wrapper end -->
      <div class="checkout-wrapper mt-5">
                <div class="checkout-wrapper__header">
                  <h3>Ticket order summary:</h3>
                </div>
                <div class="checkout-wrapper__body">
                  <ul class="price">
                    <li>
                      <div class="left">
                        <h4 class="caption"></h4>
                        <span>No.of tickets</span>
                      </div>
                      <div class="right">
                        <span class="price">{{count}}</span>
                      </div>
                    </li>
                    <li>
                      <div class="left">
                        <span class="caption">Ticket Price</span>
                      </div>
                      <div class="right">
                        <span class="price"><i class="lab la-btc text-whites"></i>{{tickdata}}</span>
                      </div>
                    </li>
         <li>
                      <div class="left">
                        <span class="caption">Wallet Balance</span>
                      </div>
                      <div class="right">
                        <span class="price"><i class="lab la-btc text-whites"></i>0.01838423</span>
                      </div>
                    </li>
         <li>
                      <div class="left">
                        <span class="caption">Remaining Balance</span>
                      </div>
                      <div class="right">
                        <span class="price"><i class="lab la-btc text-whites"></i>0.01838423</span>
                      </div>
                    </li>
                  </ul>
                  
                </div>
              </div><!-- checkout-wrapper end -->
           
            </div>
          </div>
        </div>
      </div>
 
    </div>
  </div>
</section>
  