
.cmn-accordion .card {
    border: none;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.cmn-accordion .card-header {
    background-color: transparent;
	
    padding: 0;
	font-size:50px;
	font-weight: bold;
    margin-bottom: 0 !important;
    border: none;
}

.cmn-accordion .card-header .btn-link {
    padding: 25px 0;
    display: block;
    width: 90%;
    justify-content:start;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding-right: 20px;
    font-size: 22px;
    color: #ffffff;
	font-family: "Josefin Sans", sans-serif;
	text-transform: capitalize;
}

.cmn-accordion .card-body {
    padding: 0;
    border-top: none;
	font-weight: normal;
}
.work-card {
     padding: 0 3px; 
    background: transparent;
}
.cmn-accordion .card {
    border: none;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.cmn-accordion .card-header {
    background-color: transparent;
	
    padding: 0;
	font-size:50px;
	font-weight: bold;
    margin-bottom: 0 !important;
    border: none;
}

.cart-wrapper__title {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
}
 
.cmn-accordion .card {
    border: none;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.cmn-accordion .card-header {
    background-color: transparent;
	
    padding: 0;
	font-size:50px;
	font-weight: bold;
    margin-bottom: 0 !important;
    border: none;
}

.cmn-accordion .card-header .btn-link {
    padding: 25px 0;
    display: block;
    width: 90%;
    justify-content:start;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding-right: 20px;
    font-size: 22px;
    color: #ffffff;
	font-family: "Josefin Sans", sans-serif;
	text-transform: capitalize;
}

.cmn-accordion .card-body {
    padding: 0;
    border-top: none;
	font-weight: normal;
}
.work-card {
     padding: 0 3px; 
    background: transparent;
}