<header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="left d-flex align-items-center">
              <a href="tel:65655655"><i class="las la-phone-volume"></i> Customer Support</a>
              <div class="language">
                <i class="las la-globe-europe"></i>
                <select>
                  <option>En</option>
                  <option>Rus</option>
                  <option>Bn</option>
                  <option>Hp</option>
                  <option>Frn</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="right">
              <div class="product__cart">
                <span class="total__amount">0.00</span>
                <a href="cart.html"  class="amount__btn">
                  <i class="las la-shopping-basket"></i>
                  <span class="cart__num">08</span>
                </a>
              </div>
              <a href="#0" class="user__btn" data-toggle="modal" data-target="#loginModal"><i class="las la-user"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- header__top end -->
    <div class="header__bottom">
      <div class="container">
        <nav class="navbar navbar-expand-xl p-0 align-items-center">
          <a class="site-logo site-title" href="index.html"><img class="logo"src="assets/img/brand/Bitconia white.png" alt="site-logo"><span class="logo-icon"><i class="flaticon-fire"></i></span></a>
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="menu-toggle"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav main-menu ml-auto">
              <li class="menu_has_children">
                <a routerLink="/pages/home">Home</a>
                <ul class="sub-menu">
                 <li><a routerLink="/pages/home">Home One</a></li> 

                 <!-- <li><a href="index.html">Home One</a></li> -->
                   <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </li>
              <li class="menu_has_children">
                <a routerLink="/pages/Constant">Contest</a>
                <ul class="sub-menu">
                    <li><a routerLink="/pages/Constant">All contest</a></li>
                  <!-- <li><a href="contest-details-one.html">Contest Details One</a></li>
                  <li><a href="contest-details-two.html">Contest Details Two</a></li>
                  <li><a href="lottery-details.html">Lottery Details One</a></li>
                  <li><a href="lottery-details-two.html">Lottery Details Two</a></li> -->
                </ul>
              </li>
              <li><a routerLink="/pages/winner">Winners</a></li>
              <li class="menu_has_children">
                <a routerLink="/pages/winner">pages</a>
                <ul class="sub-menu">
                  <li><a routerLink="/pages/about">About Us</a></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>

                  <!-- <li><a href="how-work.html">How it works</a></li>
                  <li><a href="user.html">User Panel</a></li>
                  <li><a href="blog.html">Blog Posts</a></li>
                  <li><a href="blog-single.html">Blog Single</a></li>
                  <li><a href="cart.html">Cart Page</a></li>
                  <li><a href="checkout.html">Checkout Page</a></li>
                  <li><a href="faq.html">FAQ Page</a></li>
                  <li><a href="error-404.html">404 Page</a></li> -->
                </ul>
              </li>
              <li><a routerLink="/pages/contact">contact</a></li>
            </ul>
            <div class="nav-right">
              <a href="contest.html" class="cmn-btn style--three btn--sm"><img src="assets/images/icon/btn/tag.png" alt="icon" class="mr-2"> Buy Tickets</a>
            </div>
          </div>
        </nav>
      </div>
    </div><!-- header__bottom end -->
  </header>