.errors{
    color: red;
}
input:not([type="radio"]), textarea {
    padding: 10px 20px;
    border: 1px solid #6472d9;
    width: 58%;
    background-color: transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #c4cbf9;
}