
    
	 <!-- inner-hero-section start -->
     <div class="inner-hero-section style--five">
    </div>
    <!-- inner-hero-section end -->
  <br class="d-sm-none d-md-block"/>
    <!-- user section start -->
    <div class="mt-minus-150 pb-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
       <div class="user-card">
         <h3 class="user-card__name mt-0 mb-3">Notifications</h3>
              <ul>
        <li><i class="las la-check-square"></i><a href="#" class="ml-4">Hide read notifications</a></li>
        <li><i class="las la-check-circle"></i><a href="#" class="ml-4">Mark all as read</a></li>
        <li><i class="las la-times"></i><a href="#" class="ml-4">Clear all</a></li>
       
        </ul>
            
             
            </div><!-- user-card end -->
            <div class="user-action-card mt-3">
              <ul class="nav nav-tabs user-action-list" id="myTab" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active"  id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" id="activities-tab" data-toggle="tab" href="#activities" role="tab" aria-controls="activities" aria-selected="false">Activities</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" id="msgs-tab" data-toggle="tab" href="#msgs" role="tab" aria-controls="msgs" aria-selected="false">System messages</a></li>
              
              </ul>
            </div><!-- user-action-card end -->
          </div>
          <div class="col-lg-8">
       <div class="tab-content mb-30" id="myTabContent">
            <div class="tab-pane user-info-card show active"  id="all" role="tabpanel" aria-labelledby="all-tab">
              <div class="accordion cmn-accordion" id="faqAcc-one">
              <div class="card">
                      <div class="card-header" id="h-1">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                        Login attempted from new IP
            <span class="ml-5">23/10/2021</span>
                        </button>
                      </div>
                      <div id="collapse1" class="collapse" aria-labelledby="h-1" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">The system has detected that your account is logged in from an unused IP address. Account: klakshmipriya07@gmail.com Device: Chrome V94.0.4606.71 (Windows) Time: 2021-10-21 04:15:36(UTC) IP: 45.251.35.27 If this activity is not your own operation, please disable your account and contact us immediately.
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
        
           <div class="card">
                      <div class="card-header" id="h-2">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        Login attempted from new IP
            <span class="ml-5">29/10/2021</span>
                        </button>
                      </div>
                      <div id="collapse2" class="collapse" aria-labelledby="h-2" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">The system has detected that your account is logged in from an unused IP address. Account: klakshmipriya07@gmail.com Device: Chrome V94.0.4606.71 (Windows) Time: 2021-10-15 04:15:36(UTC) IP: 45.251.35.27 If this activity is not your own operation, please disable your account and contact us immediately.
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
           <div class="card">
                      <div class="card-header" id="h-3">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        Are you ready to win an iPhone 13, Airpods and more?
            <span class="ml-5">29/10/2021</span>
                        </button>
                      </div>
                      <div id="collapse3" class="collapse" aria-labelledby="h-3" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">Refer 5 or more friends now, Get them to complete their KYC and trade a minimum of 200 BUSD. Stand a chance to win an iPhone 13, Apple watch, AirPods, BUSD tokens and more as you refer! Refer Now!
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
           <div class="card">
                      <div class="card-header" id="h-4">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Complete KYC by 19th Oct Get a 500 BUSD Savings Voucher
            <span class="ml-5 pl-5">29/10/2021</span>
                        </button>
                      </div>
                      <div id="collapse4" class="collapse" aria-labelledby="h-4" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">If in doubt, here’s a bonus self-test to clear your KYC-related doubts! Click the link below to Join Now!
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
           <div class="card">
                      <div class="card-header" id="h-5">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse51">
                        Start trading FIDA today at 12:00 UTC!
            <span class="ml-5">29/10/2021</span>
                        </button>
                      </div>
                      <div id="collapse5" class="collapse" aria-labelledby="h-5" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">You can start trading FIDA today at 12:00 (UTC), with 4 trading pairs available: FIDA/BTC, FIDA/BNB, FIDA/BUSD, and FIDA/USDT.
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
          
          <div class="card">
                      <div class="card-header" id="h-6">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        BETA Token Sale on Bitconia Launchpad
            <span class="ml-5">29/10/2021</span>
                        </button>
                      </div>
                      <div id="collapse6" class="collapse" aria-labelledby="h-6" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">Bitconia is excited to announce the 21st project on Bitconia Launchpad - Beta Finance (BETA). The token sale for Beta Finance will follow the Launchpad subscription format, with the recording of user BNB balances starting at 2021-09-30 00:00 AM (UTC).
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
           <div class="card">
                      <div class="card-header" id="h-7">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        Bitconia Spot Trading System Upgrade (2021-09-29)
            <span class="ml-5 pl-5">29/10/2021</span>
                        </button>
                      </div>
                      <div id="collapse7" class="collapse" aria-labelledby="h-7" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">Spot system upgrade will start at 2021-09-29 07:00 AM (UTC) and last for 2 hours. During the upgrade period, users can continue to make deposits, cancel orders, transfer funds, and access the Futures and Options products. However, account login and other account-related functions may be occasionally interrupted, including Futures and Options trading.
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
          
          </div> <!-- accordion card end -->
            </div><!-- user-info-card end -->
       <div class="tab-pane user-info-card show"  id="activities" role="tabpanel" aria-labelledby="activities-tab">
              <div class="accordion cmn-accordion" id="faqAcc-two">
             
           
           <div class="card">
                      <div class="card-header" id="h-3">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        Are you ready to win an iPhone 13, Airpods and more?
                        </button>
                      </div>
                      <div id="collapse3" class="collapse" aria-labelledby="h-3" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">Refer 5 or more friends now, Get them to complete their KYC and trade a minimum of 200 BUSD. Stand a chance to win an iPhone 13, Apple watch, AirPods, BUSD tokens and more as you refer! Refer Now!
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
           <div class="card">
                      <div class="card-header" id="h-4">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Complete KYC by 19th Oct Get a 500 BUSD Savings Voucher
                        </button>
                      </div>
                      <div id="collapse4" class="collapse" aria-labelledby="h-4" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">If in doubt, here’s a bonus self-test to clear your KYC-related doubts! Click the link below to Join Now!
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
          
          </div> <!-- accordion card end -->
            
            </div><!-- user-info-card end -->
          
       <div class="tab-pane user-info-card"  id="msgs" role="tabpanel" aria-labelledby="msgs-tab">
             
              <div class="accordion cmn-accordion" id="faqAcc-one">
            <div class="card">
                      <div class="card-header" id="h-4">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Complete KYC by 19th Oct Get a 500 BUSD Savings Voucher
                        </button>
                      </div>
                      <div id="collapse4" class="collapse" aria-labelledby="h-4" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">If in doubt, here’s a bonus self-test to clear your KYC-related doubts! Click the link below to Join Now!
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
           <div class="card">
                      <div class="card-header" id="h-5">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse51">
                        Start trading FIDA today at 12:00 UTC!
                        </button>
                      </div>
                      <div id="collapse5" class="collapse" aria-labelledby="h-5" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">You can start trading FIDA today at 12:00 (UTC), with 4 trading pairs available: FIDA/BTC, FIDA/BNB, FIDA/BUSD, and FIDA/USDT.
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
          
          <div class="card">
                      <div class="card-header" id="h-6">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        BETA Token Sale on Bitconia Launchpad
                        </button>
                      </div>
                      <div id="collapse6" class="collapse" aria-labelledby="h-6" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">Bitconia is excited to announce the 21st project on Bitconia Launchpad - Beta Finance (BETA). The token sale for Beta Finance will follow the Launchpad subscription format, with the recording of user BNB balances starting at 2021-09-30 00:00 AM (UTC).
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
           <div class="card">
                      <div class="card-header" id="h-7">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        Bitconia Spot Trading System Upgrade (2021-09-29)
                        </button>
                      </div>
                      <div id="collapse7" class="collapse" aria-labelledby="h-7" data-parent="#faqAcc-one">
                        <div class="card-body">
                          <p class="mb-2">Spot system upgrade will start at 2021-09-29 07:00 AM (UTC) and last for 2 hours. During the upgrade period, users can continue to make deposits, cancel orders, transfer funds, and access the Futures and Options products. However, account login and other account-related functions may be occasionally interrupted, including Futures and Options trading.
             
  </p>
                        </div>
                      </div>
                    </div><!-- card end -->
          
          </div> <!-- accordion card end -->
            </div><!-- user-info-card end -->
      
            </div>
      </div>
        </div>
      </div>
    </div>
    <!-- user section end -->