.user-action-list li {
    width: calc(100% / 1);
    text-align: left;
}
.user-card li {
    width: calc(100% / 1);
    text-align: left;
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background: -webkit-linear-gradient(to right, #ad1f83, rgba(108, 0, 146, 0.25), rgba(59, 38, 219, 0.001));
    background: linear-gradient(to right, #ad1f83, rgba(108, 0, 146, 0.25), rgba(59, 38, 219, 0.001));
    border: none;
	
}
.nav-tabs .nav-item.show a .nav-link:hover {
    color: #ffffff;
    background: -webkit-linear-gradient(to right, #ad1f83, rgba(108, 0, 146, 0.25), rgba(59, 38, 219, 0.001));
    background: linear-gradient(to right, #ad1f83, rgba(108, 0, 146, 0.25), rgba(59, 38, 219, 0.001));
    border: none;
	
}
.user-card__name {
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 40px;
}