<div class="inner-hero-section style--six">
  <!-- <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape-2.png" alt="image"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="page-list">
          <li><a href="index.html">Home</a></li>
          <li><a href="#0">Pages</a></li>
          <li class="active">Security Verification</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- inner-hero-section end -->

<!-- contact section start -->
<section class="mt-minus-270 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section-header text-center">
          <h2 class="section-title">Security Verification</h2>
          <p>To ensure that this login is perfomed by you</p>
        </div>
      </div>
      <div class="col-lg-12">
     
          <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-12">
          <div class="account-form-area">
        <!-- <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close"><i class="las la-times"></i></button> -->
        <h3 class="title">Choose to send Code</h3>
   <div class="col-lg-12">
        <ul class="nav nav-tabs winner-tab-nav" id="winnerTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="sv_phone-tab" data-toggle="tab" href="#sv_phone" role="tab" aria-controls="sv_phone" aria-selected="true">
              <div class="icon-thumb"><img src="assets/images/icon/contact/1.png" alt="image"></div>
              <span>Phone</span>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="sv_email-tab" data-toggle="tab" href="#sv_email" role="tab" aria-controls="sv_email" aria-selected="false">
              <div class="icon-thumb"><img src="assets/images/icon/contact/2.png" alt="image"></div>
              <span>Email</span>
            </a>
          </li>
        
        </ul>
        <div class="tab-content mt-15 mb-15" id="winnerTabContent">
  
  <!-- Phone tab -->
          <div class="tab-pane fade show active" id="sv_phone" role="tabpanel" aria-labelledby="sv_phone-tab">
            <div class="row mb-none-30">
              <div class="col-lg-12 mb-30">
                 <div class="account-form-wrapper">
                  <form [formGroup]="mobileform" (ngSubmit)="twofactmobotp()" novalidate>
          
            <div class="form-group">
              <label class="mb-3">Enter phone verication code <sup>*</sup></label>
              <input type="text" name="signup_pass" id="signup_pass" formControlName="code" placeholder="Enter Code">
            </div>
          
          <div class="d-flex flex-wrap justify-content-between mt-3">
                <a href="javascript:;" (click)="towfactormob()" class="link">Send code</a>
       <a href="forgotpassword.html" class="link">Cant get code?</a>
            </div>
    
     <div class="custom-checkbox mt-3">
                <input type="checkbox" name="id-1" id="id-1" checked>
                <label for="id-1">No security verification is needed in this device</label>
                <span class="checkbox"></span>
              </div>
             <div class="form-group text-center mt-2">
              <!-- <a href=""(click)="twofactmobotp()" class="cmn-btn btn--sm">Submit</a> -->
      <button type="submit" class="cmn-btn btn--sm" >Submit</button>
            </div>
          </form>
                     
  </div>  <!--account - form-wrapper end -->
            </div>
          
     </div>
          
   
    </div>
    <!-- Email tab -->
          <div class="tab-pane fade" id="sv_email" role="tabpanel" aria-labelledby="sv_email-tab">
               <div class="row mb-none-30">
              <div class="col-lg-12 mb-30">
                 <div class="account-form-wrapper">
                  <form [formGroup]="loginForm" (ngSubmit)="twofactemailotp()" novalidate>
          
            <div class="form-group">
              <label class="mb-3">Enter email verication code <sup>*</sup></label>
              <input type="text" name="signup_pass" id="signup_pass"formControlName="code" placeholder="Enter Code">
              <div class="errors"
                *ngIf="loginForm.get('code').invalid && (loginForm.get('code').touched || loginForm.get('code').dirty)">
  
                <div *ngIf="loginForm.get('code').hasError('required')">
                  Code is required
                </div>
  
                <div *ngIf="loginForm.get('code').errors.code">
                  This is not a valid Code!!! </div>
  
  
              </div> 
            </div>
          
          <div class="d-flex flex-wrap justify-content-between mt-3">
                <a href="javascript:;"(click)="twofactoremail()" class="link">Send code</a>
       <a href="#" class="link">Cant get code?</a>
            </div>
    
     <div class="custom-checkbox mt-3">
                <input type="checkbox" name="id-1" id="id-1" checked>
                <label for="id-1">No security verification is needed in this device</label>
                <span class="checkbox"></span>
              </div>
             <div class="form-group text-center mt-2">
              <!-- <a href=""(clik)="twofactemailotp()" class="cmn-btn btn--sm">Submit</a> -->
              <button type="submit" class="cmn-btn btn--sm" >Submit</button>

            </div>
          </form>
         
      </div>  <!--account - form-wrapper end -->
     
              </div>
           
     </div>
  </div>
      
   </div><!-- tab-content end -->
      </div>
        
</div>	 <!--  account- form- area -->
  
   </div>
        </div>
      </div>
    </div>
    <div class="row pt-120 mb-none-30">
      <div class="col-lg-3 col-sm-6 mb-30">
        <div class="social-card">
          <div class="social-card__icon">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="social-card__content">
            <h3>130k</h3>
            <span>Followers</span>
          </div>
        </div><!-- social-card end -->
      </div>
      <div class="col-lg-3 col-sm-6 mb-30">
        <div class="social-card">
          <div class="social-card__icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="social-card__content">
            <h3>35k</h3>
            <span>Members</span>
          </div>
        </div><!-- social-card end -->
      </div>
      <div class="col-lg-3 col-sm-6 mb-30">
        <div class="social-card">
          <div class="social-card__icon">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="social-card__content">
            <h3>47k</h3>
            <span>Followers</span>
          </div>
        </div><!-- social-card end -->
      </div>
      <div class="col-lg-3 col-sm-6 mb-30">
        <div class="social-card">
          <div class="social-card__icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="social-card__content">
            <h3>29k</h3>
            <span>Subscribers</span>
          </div>
        </div><!-- social-card end -->
      </div>
    </div>
  </div>
</section>