<div class="inner-hero-section style--six">
    <!-- <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape-2.png" alt="image"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="page-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="#0">Pages</a></li>
            <li class="active">Change password</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <!-- contact section start -->
    <section class="mt-minus-270 pb-120">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="section-header text-center">
                <h2 class="section-title">Change password</h2>
                <p>Please confirm your old password and change the new password.</p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="contact-wrapper">
                <div class="row justify-content-center">
                  <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-wrapper">
                      <h3 class="title">Change your password</h3>
                      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                     
                  
                   <div class="form-group">
                    <label >New password <sup>*</sup></label>
                    <input type="password"formControlName="newPass" name="new_pass" id="new_pass" placeholder="New password" required>
                    <div class="errors"
                *ngIf="loginForm.get('newPass').invalid && (loginForm.get('newPass').touched || loginForm.get('newPass').dirty)">

                <div *ngIf="loginForm.get('newPass').hasError('required')">
                  password is required
                </div>

                <div *ngIf="loginForm.get('newPass').errors.minlength">
                  password must be at least 8 characters
                </div>

                <div class="error-text" *ngIf="loginForm.get('newPass').hasError('passwordStrength')">
                  {{loginForm.get('newPass').errors['passwordStrength']}}
                </div>
              </div>
                  </div>
                  
                   <div class="form-group">
                    <label>Confirm password <sup>*</sup></label>
                    <input type="password"formControlName="confirmPass" name="confirm_pass" id="confirm_pass" placeholder="Confirm password" required>
                    <div class="errors"
                *ngIf="loginForm.get('confirmPass').invalid && (loginForm.get('confirmPass').touched || loginForm.get('confirmPass').dirty)">

                <div *ngIf="loginForm.get('confirmPass').hasError('required')">
                  password is required
                </div>

                <div *ngIf="loginForm.get('confirmPass').errors.minlength">
                  Password must be at least 8 characters
                </div>

                <div class="error-text" *ngIf="loginForm.get('confirmPass').hasError('passwordStrength')">
                  {{loginForm.get('confirmPass').errors['passwordStrength']}}
                </div>
              </div>
                  </div>
                        
                        <div class="form-group">
                          <button type="submit" class="cmn-btn w-100">Submit</button>
                        </div>
                      </form><!-- contact-form e nd -->
                    </div><!-- contact-form-wrapper end -->
                  </div>
            
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-120 mb-none-30">
            <div class="col-lg-3 col-sm-6 mb-30">
              <div class="social-card">
                <div class="social-card__icon">
                  <i class="fab fa-facebook-f"></i>
                </div>
                <div class="social-card__content">
                  <h3>130k</h3>
                  <span>Followers</span>
                </div>
              </div><!-- social-card end -->
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
              <div class="social-card">
                <div class="social-card__icon">
                  <i class="fas fa-users"></i>
                </div>
                <div class="social-card__content">
                  <h3>35k</h3>
                  <span>Members</span>
                </div>
              </div><!-- social-card end -->
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
              <div class="social-card">
                <div class="social-card__icon">
                  <i class="fab fa-twitter"></i>
                </div>
                <div class="social-card__content">
                  <h3>47k</h3>
                  <span>Followers</span>
                </div>
              </div><!-- social-card end -->
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
              <div class="social-card">
                <div class="social-card__icon">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="social-card__content">
                  <h3>29k</h3>
                  <span>Subscribers</span>
                </div>
              </div><!-- social-card end -->
            </div>
          </div>
        </div>
      </section>