<section class="inner-hero-section-plain pb-120">
    <!-- <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape-2.png" alt="image"></div> -->
    <!-- <div class="container"> -->
      <!-- <div class="row justify-content-center"> -->
        <!-- <div class="col-lg-8"> -->
          <!-- <div class="inner-page-content"> -->
            <!-- <h2 class="title">History</h2> -->
           
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  </section>
  <!-- inner-hero-section end -->
  
   
  
  <!-- how it work section start  -->
  <section class=" pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-header text-center mt-5">
            <span class="section-sub-title">Getting  started? It’s simple</span>
            <h2 class="section-title style--two">How it works</h2>
           
         </div>
        </div>
      </div>
        <div class="col-lg-3 my-5">
          <div class="section-header">
           <h2 class="style--two">CHOOSE</h2>
           
          </div>
        </div>
     <div class="row mb-none-30 justify-content-center my-5">
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-user text-icons"></i></div>
            </div>
            <div class="accordion cmn-accordion">
                  <div class="card">
                    <div class="card-header" id="h-1">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                      Sign up
                      </button>
                    </div>
                    <div id="collapse1" class="collapse" aria-labelledby="h-1" >
                      <div class="card-body">
                        <p class="mb-2">Register to Bitconia
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
           
          </div><!-- work-card end -->
        </div>
         <div class="col-lg-3 col-sm-6 mb-30">
           <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-smile text-icons"></i></div>
            </div>
              <div class="accordion cmn-accordion">
                  <div class="card">
                    <div class="card-header" id="h-2">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                       Its free
                      </button>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="h-2" >
                      <div class="card-body">
                        <p class="mb-2">Open a free account
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-phone  text-icons"></i></div>
            </div>
           <div class="accordion cmn-accordion">
                  <div class="card">
                    <div class="card-header" id="h-3">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                     Add Email/Phone
                      </button>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="h-3" >
                      <div class="card-body">
                        <p class="mb-2">Use your email/phone
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
          
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-lock text-icons"></i></div>
            </div>
             <div class="accordion cmn-accordion">
                  <div class="card">
                    <div class="card-header" id="h-4">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                     Set
                      </button>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="h-4" >
                      <div class="card-body">
                        <p class="mb-2">Set Your Password
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
          
          </div><!-- work-card end -->
        </div>
      </div>
      
   <div class="col-lg-3 pt-120" id="buy">
          <div class="section-header">
           <h2 class="style--two">BUY</h2>
           
          </div>
        </div>
      <div class="row mb-none-30 justify-content-center my-5" >
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="lab la-btc text-icons"></i></div>
            </div>
            <div class="accordion cmn-accordion">
                  <div class="card">
                    <div class="card-header" id="h-5">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Add Credit
                      </button>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="h-5" >
                      <div class="card-body">
                        <p class="mb-2">Add Cryptocurrency to your wallet
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
         
          </div><!-- work-card end -->
        </div>
         <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-chalkboard-teacher text-icons"></i></div>
            </div>
            <div class="accordion cmn-accordion">
                 <div class="card">
                    <div class="card-header" id="h-6">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    Check
                      </button>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="h-6" >
                      <div class="card-body">
                        <p class="mb-2">Check 'How to Add Credit' section for more info
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
           
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-ticket-alt text-icons"></i></div>
            </div>
           
            <div class="accordion cmn-accordion">
                 <div class="card">
                    <div class="card-header" id="h-7">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                   Buy tickets
                      </button>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="h-7" >
                      <div class="card-body">
                        <p class="mb-2">Click 'Buy Tickets' on the top menu
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
         
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-check-circle text-icons"></i></div>
            </div>
            <div class="accordion cmn-accordion">
                 <div class="card">
                    <div class="card-header" id="h-8">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 Select
                      </button>
                    </div>
                    <div id="collapse8" class="collapse" aria-labelledby="h-8" >
                      <div class="card-body">
                        <p class="mb-2">Select the Number of tickets you want to purchase
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
           
          </div><!-- work-card end -->
        </div>
      </div>
      
       <div class="row mb-none-30 justify-content-center my-5">
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-bullseye text-icons"></i></div>
            </div>
             <div class="accordion cmn-accordion">
                 <div class="card">
                    <div class="card-header" id="h-9">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 Pick your Numbers
                      </button>
                    </div>
                    <div id="collapse9" class="collapse" aria-labelledby="h-9" >
                      <div class="card-body">
                        <p class="mb-2">Pick six numbers for each tickets or you can click the quick pick button to choose six numbers randomly
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
          
          </div><!-- work-card end -->
        </div>
         <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-money-bill text-icons"></i></div>
            </div>
            <div class="accordion cmn-accordion">
                 <div class="card">
                    <div class="card-header" id="h-10">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                Buy Tickets
                      </button>
                    </div>
                    <div id="collapse10" class="collapse" aria-labelledby="h-10" >
                      <div class="card-body">
                        <p>Once you choose six numbers for each tickets, Click the 'Buy Tickets' button to move to the checkout page
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
           
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-wallet text-icons"></i></div>
            </div>
             <div class="accordion cmn-accordion">
                 <div class="card">
                    <div class="card-header" id="h-11">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                Pay
                      </button>
                    </div>
                    <div id="collapse11" class="collapse" aria-labelledby="h-11" >
                      <div class="card-body">
                        <p>Click the Checkout button to pay using your wallet balance
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div><!-- accordion end -->
            <div class="work-card__content">
              <h3 class="work-card__title"></h3>
              <p></p>
            </div>
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-envelope-open-text text-icons"></i></div>
            </div>
             <div class="accordion cmn-accordion">
                 <div class="card">
                    <div class="card-header" id="h-12">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
              Confirm
                      </button>
                    </div>
                    <div id="collapse12" class="collapse" aria-labelledby="h-12" >
                      <div class="card-body">
                        <p>A confirmation will be sent to you via email or SMS
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
           
          </div><!-- work-card end -->
        </div>
      </div>
      
  
   <div class="col-lg-3 pt-120"  id="win">
          <div class="section-header">
           <h2 class="style--two">WIN</h2>
           
          </div>
        </div>
      <div class="row mb-none-30 justify-content-center">
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-award text-icons"></i></div>
            </div>
              <div class="accordion cmn-accordion">
                 <div class="card">
                    <div class="card-header" id="h-13">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
             Winning Numbers
                      </button>
                    </div>
                    <div id="collapse13" class="collapse" aria-labelledby="h-13" >
                      <div class="card-body">
                        <p>After the draw is completed, the winning sequence number is shown on homepage
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
           
          </div><!-- work-card end -->
        </div>
         <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-user-shield text-icons"></i></div>
            </div>
              <div class="accordion cmn-accordion">
                 <div class="card">
                    <div class="card-header" id="h-14">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
            Check your numbers
                      </button>
                    </div>
                    <div id="collapse14" class="collapse" aria-labelledby="h-14" >
                      <div class="card-body">
                        <p>Check the Userpanel and claim the prize
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
          
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-sms text-icons"></i></div>
            </div>
             <div class="accordion cmn-accordion">
                 <div class="card">
                    <div class="card-header" id="h-15">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
            Get Message
                      </button>
                    </div>
                    <div id="collapse15" class="collapse" aria-labelledby="h-15" >
                      <div class="card-body">
                        <p>Winners will get a message from Bitconia
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
            
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <div class="inner"><i class="las la-person-booth text-icons"></i></div>
            </div>
             <div class="accordion cmn-accordion">
                <div class="card">
                    <div class="card-header" id="h-16">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
            Learn more
                      </button>
                    </div>
                    <div id="collapse16" class="collapse" aria-labelledby="h-16" >
                      <div class="card-body">
                        <p>Learn more about 'How to Add Credit' and 'How to Withdraw'
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
               
                </div>
           
          </div><!-- work-card end -->
        </div>
      </div>
  
  
  </div>
  </section>