
	  <!-- inner-hero-section start -->
    <section class="inner-hero-section-plain">
      
    </section>
    <!-- inner-hero-section end -->
	
	
	
	
	  <!-- latest winner section start  -->
    <section class="latest-winner-section position-relative pt-120">
      <div class="el-1"><img src="assets/images/elements/w-el-1.png" alt="image"></div>
      <div class="el-2"><img src="assets/images/elements/w-el-2.png" alt="image"></div>
      <div class="el-3"><img src="assets/images/elements/w-el-3.png" alt="image"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
            <div class="section-header text-center">
              <span class="section-sub-title">Meet the latest winners from your favorite contest</span>
              <h2 class="section-title">Latest Winners</h2>
              <p>Check your ticket number's to see if you are a Winner in the Dream Lottery.</p>
            </div>
          </div>
        </div><!-- row end -->

        <div class="row wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
          <div class="col-lg-12">
            <ul class="nav nav-tabs winner-tab-nav" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="mat1-tab" data-toggle="tab" href="#mat1" role="tab" aria-controls="mat1" aria-selected="true">
                  <div class="icon-thumb">
					<div class="circleinner"><span>6/6</span></div>
				  </div>
                  <span>Match 1</span>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="mat2-tab" data-toggle="tab" href="#mat2" role="tab" aria-controls="mat2" aria-selected="false">
                  <div class="icon-thumb"><div class="circleinner"><span>5/6</span></div></div>
                  <span>Match 2</span>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="mat3-tab" data-toggle="tab" href="#mat3" role="tab" aria-controls="mat3" aria-selected="false">
                  <div class="icon-thumb">
				  <div class="circleinner"><span>4/6</span></div></div>
                  <span>Match 3</span>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="mat4-tab" data-toggle="tab" href="#mat4" role="tab" aria-controls="mat4" aria-selected="false">
                  <div class="icon-thumb"><div class="circleinner"><span>3/6</span></div></div>
                  <span>Match 4</span>
                </a>
              </li>
            
            </ul>
            <div class="tab-content mt-50" id="myTabContent">
              <div class="tab-pane fade show active" id="mat1" role="tabpanel" aria-labelledby="mat1-tab">
                <div class="row mb-none-30">
                  <div class="col-lg-4 mb-30">
                    <div class="number-check-wrapper">
                      <h3 class="title">Check My Numbers</h3>
                      <p>Are you holding on to a winning ticket? Here's an easy way to find out.</p>
                      <form class="check-number-form">
                        <input type="date" class="form-control mt-30 mb-30" name="check-number1" id="check-number1" placeholder="Pick a date">
                        <div class="number-list-wrapper">
                         
                          <div class="number-list mt-3 mb-3">
                            <input type="text" name="text1" id="text1" placeholder="00" disabled>
                            <input type="text" name="text2" id="text2" placeholder="00" disabled>
                            <input type="text" name="text3" id="text3" placeholder="00" disabled>
                            <input type="text" name="text4" id="text4" placeholder="00" disabled>
                            <input type="text" name="text5" id="text5" placeholder="00" disabled>
                            <input type="text" name="text6" id="text6" placeholder="00" disabled>
                            <input type="text" name="text7" id="text7" placeholder="00" disabled>
                          </div><!-- number-list end -->
                          <select class="nice-select">
                            <option>Last 7 Weeks</option>
                            <option>Last 6 Weeks</option>
                            <option>Last 5 Weeks</option>
                            <option>Last 4 Weeks</option>
                            <option>Last 3 Weeks</option>
                          </select>
                          <div class="text-center mt-100">
                            <button type="submit" class="cmn-btn">check my numbers</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-8 mb-30">
                   
		  <div class="past-draw-wrapper">
              <h3 class="title">Past Draws</h3>
              <div class="table-responsive-lg">
                <table>
                  <thead>
                    <tr>
                      <th>Draw</th>
                      <th>Contest No</th>
                      <th>Result</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span class="date" routerLink="/user-Draw/currentdraw">18.09.2021</span></td>
                      <td><span class="contest-no">R9D</span></td>
                      <td>
                        <ul class="number-list">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                        
                        </ul>
                      </td>
                      <td><a href=""routerLink="/user-Draw/currentdraw" class="cmn-btn btn--sm">Check</a></td>
                    </tr>
                    <tr>
                      <td><span class="date">11.09.2021</span></td>
                      <td><span class="contest-no">R8E</span></td>
                      <td>
                        <ul class="number-list">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                        
                        </ul>
                      </td>
                    <td><a href=""routerLink="/user-Draw/currentdrawrentdraw" class="cmn-btn btn--sm">Check</a></td>
                    </tr>
                    <tr>
                      <td><span class="date">04.09.2021</span></td>
                      <td><span class="contest-no">R9D</span></td>
                      <td>
                        <ul class="number-list">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                         
                        </ul>
                      </td>
                    <td><a href=""routerLink="/user-Draw/currentdraw" class="cmn-btn btn--sm">Check</a></td>
                    </tr>
                    <tr>
                      <td><span class="date">28.08.2021</span></td>
                      <td><span class="contest-no">R10D</span></td>
                      <td>
                        <ul class="number-list win-list">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                         
                        </ul>
                      </td>
                     <td><a href=""routerLink="/user-Draw/currentdraw" class="cmn-btn btn--sm">Check</a></td>
                    </tr>
                </tbody>
                </table>
              </div>
              <div class="load-more">
                <span></span>
              </div>
            </div><!-- past-draw-wrapper end -->
          
				 </div>
                </div>
              </div>
             
			</div><!-- tab-content end -->
         
		 </div>
        </div><!-- row end -->
      </div>
    </section>
    <!-- latest winner section end  -->
