
    <!-- inner-hero-section start -->
    <div class="inner-hero-section style--six">
        <!-- <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape.png" alt="image"></div> -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul class="page-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="#0">Communities</a></li>
                 <li><a href="#0">Our Features</a></li>
                 </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- inner-hero-section end -->
  
      <!-- lottery-details start -->
      <section class="pb-120 mt-minus-300">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="lottery-wrapper">
                
              
               <!-- features section start -->
               
              <div class="col-lg-12 text-center justify-content-center">
              <div class="section-header">
                <h2 class="section-title">Our features.</h2>
                <p>"Bitconia-The Blockchain Lottery Platform is reshaping the lottery industry <br/>and
  Attempting to improve the lottery ecosystem's fairness."</p>
              
              </div>
            </div>
      
            <div class="col-lg-12">
              <div class="row mb-none-30">
                <div class="col-lg-6 mb-30">
                  <div class="container mb-none-30">
                    <div class="col-lg-12 col-md-6 mb-30 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                      <div class="feature-card hover--effect-1">
                        <div class="feature-card__icon">
                         <i class="las la-users text-icons"></i>
                        </div>
                        <div class="accordion cmn-accordion">
                        <div class="feature-card__content card-header" id="h-1">
                         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                          Decentralized Lottery
                          </button>
                           <div id="collapse1" class="collapse" aria-labelledby="h-1" >
                          <div class="card-body">
                            <p class="mb-2">The Bitconia Lottery system is completely decentralized. This means that no one person has the ability to modify network protocols, shut down the network, or edit the ledger.
                            </p>
                          </div>
                        </div>
                        </div>
                        </div><!-- accordion end -->
                      </div><!-- feature-card end -->
                    </div><!-- feature-card end -->
                    <div class="col-lg-12 col-md-6 mb-30 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                      <div class="feature-card hover--effect-1">
                        <div class="feature-card__icon">
                         <i class="las la-network-wired text-icons"></i>
                        </div>
                       <div class="accordion cmn-accordion">
                        <div class="feature-card__content card-header" id="h-2">
                         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                          RNG
                          </button>
                           <div id="collapse2" class="collapse" aria-labelledby="h-2" >
                          <div class="card-body">
                            <p class="mb-2">The winner selection process is made transparent to network members by embedding RNG methods on a distributed ledger. Inherent transparency can be completely eliminated with the inclusion of blockchain technology.
                            </p>
                          </div>
                        </div>
                        </div>
                        </div><!-- accordion end -->
                      </div><!-- feature-card end -->
                    </div><!-- feature-card end -->
                     <div class="col-lg-12 col-md-6 mb-30 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                      <div class="feature-card hover--effect-1">
                        <div class="feature-card__icon">
                          <i class="las la-calendar-check text-icons"></i>
                        </div>
                       <div class="accordion cmn-accordion">
                        <div class="feature-card__content card-header" id="h-3">
                         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                          Availability
                          </button>
                           <div id="collapse3" class="collapse" aria-labelledby="h-3" >
                          <div class="card-body">
                            <p class="mb-2">Decentralization can be of massive help. This makes it possible for players from all over the world to participate and have a fun time.
                            </p>
                          </div>
                        </div>
                        </div>
                        </div><!-- accordion end -->
                      </div><!-- feature-card end -->
                    </div><!-- feature-card end -->
                  </div>
                </div>
                <div class="col-lg-6 mb-30 mt-lg-5">
                  <div class="container mb-none-30">
                    <div class="col-lg-12 col-md-6 mb-30 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                      <div class="feature-card hover--effect-1">
                        <div class="feature-card__icon">
                           <i class="las la-balance-scale text-icons"></i>
                        </div>
                       <div class="accordion cmn-accordion">
                        <div class="feature-card__content card-header" id="h-4">
                         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                         Fairness & Transparent.
                          </button>
                           <div id="collapse4" class="collapse" aria-labelledby="h-4" >
                          <div class="card-body">
                            <p class="mb-2">All the stages of the lottery system are transparent to the public, allowing anybody to verify the lottery's fairness. Users have access to all network transactions.</p>
                              <p class="mb-2">To provide a fair lottery experience, we only utilize RNG-based protocols and provably-fair technologies for winner selection. Furthermore, the smart contract code is publicly available on the site; players may examine the rules established in the contracts to ensure whether or not the funds are allocated fairly.
                            </p>
                          </div>
                        </div>
                        </div>
                        </div><!-- accordion end -->
                      </div><!-- feature-card end -->
                    </div><!-- feature-card end -->
                    <div class="col-lg-12 col-md-6 mb-30 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                      <div class="feature-card hover--effect-1">
                        <div class="feature-card__icon">
                           <i class="las la-user-check text-icons"></i>
                        </div>
                        <div class="accordion cmn-accordion">
                        <div class="feature-card__content card-header" id="h-5">
                         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                          Permissionless
                          </button>
                           <div id="collapse5" class="collapse" aria-labelledby="h-5" >
                          <div class="card-body">
                            <p class="mb-2">This online lottery system is based on Binance Smart Chain (BSC) decentralized network. So anyone can verify the system process and its stages without anybody's permission.
                            </p>
                          </div>
                        </div>
                        </div>
                        </div><!-- accordion end -->
                      </div><!-- feature-card end -->
                    </div><!-- feature-card end -->
                      <div class="col-lg-12 col-md-6 mb-30 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                      <div class="feature-card hover--effect-1">
                        <div class="feature-card__icon">
                          <i class="las la-user-lock text-icons"></i>
                        </div>
                        <div class="accordion cmn-accordion">
                        <div class="feature-card__content card-header" id="h-6">
                         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                          Reliable And Secure
                          </button>
                           <div id="collapse6" class="collapse" aria-labelledby="h-6" >
                          <div class="card-body">
                            <p class="mb-2">When transacting online, security and safety are of the utmost importance. Our reliable online lottery website has all of the required safety measures in place, adhere to all security standards, and obey all regulations.
                            </p>
                          </div>
                        </div>
                        </div>
                        </div><!-- accordion end -->
                      </div><!-- feature-card end -->
                    </div><!-- feature-card end -->
                  </div>
                </div>
                
              </div>
            </div>
           
       
      <!-- features section end -->
  
              
              </div><!-- lottery-wrapper end -->
            </div><!-- col-lg-12 -->
           
         </div>
       <div class="row position-relative mt-100">
       <div class="col-md-6 justify-content-center">
        <img src="assets/images/elements/currentdraw.png" alt="image" class="img-fluid">       </div>
        <div class="col-md-6 left">
        <div class="text-center mt-100">
                              <a href="#" class="mx-3 cmn-btn">Download Here
  The Official White Paper</a>
                                                     
         
        </div>
       </div>
       
       </div>
    