product {
    width: 130px;
    margin: 30px;
  }
  
  .form-group-quantity {
    width:130px;
   
    position: relative;
    left:80px;top: -40px
  }
  .form-group .glyphicon {
    color: #ff00cc;
  }
  .input-group {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: stretch;
      align-items: stretch;
      width: 100%;
     
  }
  input:not([type="radio"]), textarea {
      padding:0px;
      margin-left:5px;
      border: transparent;
      width: 100%;
      background-color: transparent;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
   color: #ffffff; 
  }
  .form-control {
      height: 20px;
      color: #ffffff;
  }
  .quantity {
      color: #ffffff;
      position: relative;
      top: -20px;
      padding: 20px;
     background-color: #12023e;
      width: 250px;
      height: 70px;
      border-radius: 7px;
  }
  .lottery-single__selected-number {
    display: -ms-flexbox;
    display:  inline-flex;;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -3px;
    padding-left: 3%;
}
.buy-lottery-ticket .total-price {
  padding-top: 20px;
  // border-top: 1px solid #201456;
}
.lottery-package-list button {
    padding: 20px 20px;
    background-image: -moz-linear-gradient(0deg, #e9388e 0%, #b9217a 43%, #880965 100%);
    background-image: -webkit-linear-gradient(
0deg, #e9388e 0%, #b9217a 43%, #880965 100%);
    background-image: -ms-linear-gradient(0deg, #e9388e 0%, #b9217a 43%, #880965 100%);
    color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 15px;
}
.button {
    text-decoration: none;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
}
.button {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.lottery-wrapper__title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5px;
}