<section class="inner-hero-section-plain  pb-120 position-relative">
    <!-- <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape-2.png" alt="image"></div> -->
    <!-- <div class="container"> -->
      <!-- <div class="row justify-content-center"> -->
        <!-- <div class="col-lg-8"> -->
          <!-- <div class="inner-page-content"> -->
            <!-- <h2 class="title">History</h2> -->
           
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  </section>
  <!-- inner-hero-section end -->
  
  <!-- affiliate partner section start -->
  <section class="pt-120 pb-120 position-relative">
  <div class="row mt-2 pt-2 justify-content-center">
    <div class="bg-el"><img src="assets/images/elements/banner-bg.jpg" alt="image"></div>
    <div class="col-md-9  justify-content-center">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-header text-center">
            <span class="section-sub-title tophead">Learn more about How to 'Add Credit'</span>
            <h2 class="section-title style--two tophead"> How to add credit</h2>
          
          </div>
        </div>
      </div>
      <div class="row mb-none-30">
   <div class="col mb-30">
          <div class="affiliate-card">
            <div class="affiliate-card__icon">
              <i class="las la-user-circle  text-icons"></i>
            </div>
            <div class="affiliate-card__content">
              <h3 class="affiliate-card__title">Login </h3>
              <p>Create an account or Open your existing account from the top of the Home Page.</p>
            </div>
          </div><!-- affiliate-card end -->
        </div>
        <div class="col mb-30">
          <div class="affiliate-card">
            <div class="affiliate-card__icon">
              <i class="las la-wallet  text-icons"></i>
            </div>
            <div class="affiliate-card__content">
              <h3 class="affiliate-card__title">Wallet</h3>
              <p>Open your Wallet from the top of the Home Page - to the left of Login Button.</p>
            </div>
          </div><!-- affiliate-card end -->
        </div>
        <div class="col mb-30">
          <div class="affiliate-card">
            <div class="affiliate-card__icon">
              <i class="las la-qrcode  text-icons"></i>
            </div>
            <div class="affiliate-card__content">
              <h3 class="affiliate-card__title">Deposit</h3>
              <p>Scan the QR or copy your wallet address to send Cryptocurrency to your wallet.</p>
            </div>
          </div><!-- affiliate-card end -->
        </div>
        <div class="col mb-30">
          <div class="affiliate-card">
            <div class="affiliate-card__icon">
              <i class="las la-sms  text-icons"></i>
            </div>
            <div class="affiliate-card__content">
              <h3 class="affiliate-card__title">Confirmation</h3>
              <p>Once the amount is successfully transferred a confirmation will be sent to you via email or SMS.</p>
            </div>
          </div><!-- affiliate-card end -->
        </div>
       <div class="col mb-30">
          <div class="affiliate-card">
            <div class="affiliate-card__icon">
              <i class="lab la-btc  text-icons"></i>
            </div>
            <div class="affiliate-card__content">
              <h3 class="affiliate-card__title">Success</h3>
              <p>Now you can use your wallet balance to buy tickets and participate in upcoming draws.</p>
            </div>
          </div><!-- affiliate-card end -->
        </div>
       
      </div>
    </div>
  </div>
  </section>
  <!-- affiliate partner section end -->