<div class="inner-hero-section style--four">
    <!-- <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape-2.png" alt="image"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="page-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="#0">Pages</a></li>
            <li class="active">Faq</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- inner-hero-section end -->
  
  <!-- faq section start -->
  <section class="pb-120 mt-minus-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="faq-top-wrapper pt-120">
            <div class="section-header text-center">
              <span class="section-sub-title">You Have Questions</span>
              <h2 class="section-title">WE HAVE ANSWERS</h2>
              <p>Do not hesitate to send us an email if you can't find what you're looking for.</p>
            </div>
            <ul class="nav nav-tabs cmn-tabs justify-content-center" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ticket-tab" data-toggle="tab" href="#ticket" role="tab" aria-controls="ticket" aria-selected="false">Bitconia Tickets</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="true">Account functions</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="winning-tab" data-toggle="tab" href="#winning" role="tab" aria-controls="winning" aria-selected="false">winning</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false">results & alerts</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">about us</a>
              </li>
            </ul>
          </div><!-- faq-top-wrapper end -->
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="faq-body-wrapper">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="ticket" role="tabpanel" aria-labelledby="ticket-tab">
                <div class="accordion cmn-accordion" id="faqAcc-one">
                  <div class="card">
                    <div class="card-header" id="h-1">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                       1.	When is the draw? What is the deadline to enter the current week’s Bitconia draw?
                      </button>
                    </div>
                    <div id="collapse1" class="collapse show" aria-labelledby="h-1" data-parent="#faqAcc-one">
                      <div class="card-body">
                        <p class="mb-2">Each Draw is conducted in a specific time intervals. You can view the end date and time of each draw in the Dashboard page before you select any draw. numbers selected by the draw machine for each draw.
           
  </p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-2">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                      2.	Can I participate as part of a syndicate?
                      </button>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="h-2" data-parent="#faqAcc-one">
                      <div class="card-body">
                        <p>No. We do not recognize syndicates and only recognize registered individual account holders. We will NOT be:</p>
                    <ul>
            <li class="mb-2"><i class="las la-caret-right" style="color: #fb6468"></i>
  Liable for the payment of any prize to any syndicate member other than a prize emanating from a winning entry which is payable only to the registered holder of the account with such winning entry; and </li>
  
  <li class="mb-2"><i class="las la-caret-right" style="color: #fb6468"></i>Bound by any agreement between the registered holder of the account and any syndicate member. </li>
  
  </ul> 
           </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-3">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        3. Can I participate in the Bitconia draw from anywhere globally?
                      </button>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="h-3" data-parent="#faqAcc-one">
                      <div class="card-body">
                        <p>Yes, You can participate from any country, if you have access to our website. </p>
                      </div>
                    </div>
                  </div><!-- card end -->
         <div class="card">
                    <div class="card-header" id="h-4">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                      4.	How can I participate in Bitconia through the app?
                      </button>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="h-4" data-parent="#faqAcc-one">
                      <div class="card-body">
                        <p>You can download the application from Google Play or App Store and login with your account credentials to participate in the draw. </p>
                      </div>
                    </div>
                  </div><!-- card end -->
         <div class="card">
                    <div class="card-header" id="h-5">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                       5.	How many tickets I can purchase for a single draw?
                      </button>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="h-5" data-parent="#faqAcc-one">
                      <div class="card-body">
                        <p>There is no limit for the number of tickets you can purchase for each draw. </p>
                      </div>
                    </div>
                  </div><!-- card end -->
                </div>
              </div>
              <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                <div class="accordion cmn-accordion" id="faqAcc-two">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       1.	How can I create an account and enter the Bitconia draw?
                      </button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAcc-two">
                      <div class="card-body">
                        <p>You can create an account and enter the Bitconia draw through www.bitconia.com. Bitconia app also available in Google play and App store.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                       2.	Which currencies does Bitconia accept?  
                      </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAcc-two">
                      <div class="card-body">
                        <p>Currently Bitconia accepts Bitcoin for purchasing the tickets.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                       3.	How can I edit my personal details in my account?
                      </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAcc-two">
                      <div class="card-body">
                        <p>Click the profile icon, Go to user panel to edit the personal details.  </p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="heading5">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        4.	How can I reset my password?
                      </button>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#faqAcc-two">
                      <div class="card-body">
                        <p>Click the profile icon, Go to user panel and Click change password to change your password.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                       5.	Is there a withdrawal fee?
                      </button>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqAcc-two">
                      <div class="card-body">
                        <p>Yes there is a withdrawal fees.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
         <div class="card">
                    <div class="card-header" id="heading6">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                       6.	Can I convert my wallet balance to other currencies?
                      </button>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#faqAcc-two">
                      <div class="card-body">
                        <p>Bitconia does not support any currency exchange functionalities. You can only deposit and withdraw Bitcoins.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
         <div class="card">
                    <div class="card-header" id="heading7">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                       7.	Can I transfer my wallet balance to another Bitconia wallet?
                      </button>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#faqAcc-two">
                      <div class="card-body">
                        <p>Yes you can transfer to other Bitconia wallet from the withdraw page if you know the address of the other wallet.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
         <div class="card">
                    <div class="card-header" id="heading8">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                      8.	Can I register more than one account with Bitconia?
                      </button>
                    </div>
                    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#faqAcc-two">
                      <div class="card-body">
                        <p>No. Each participant can only have one registered account.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
         <div class="card">
                    <div class="card-header" id="heading9">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                     9. What should I do if I am unable to log in to my Bitconia account?
                      </button>
                    </div>
                    <div id="collapse9" class="collapse" aria-labelledby="heading9e" data-parent="#faqAcc-two">
                      <div class="card-body">
                        <p>You can contact us to get support on the issue.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                </div>
              </div>
              <div class="tab-pane fade" id="winning" role="tabpanel" aria-labelledby="winning-tab">
                <div class="accordion cmn-accordion" id="faqAcc-three">
                  <div class="card">
                    <div class="card-header" id="h-4">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                       1.	How and when do I get my prize if I am a winner in the Bitconia draw?
                      </button>
                    </div>
                    <div id="collapse4" class="collapse show" aria-labelledby="h-4" data-parent="#faqAcc-three">
                      <div class="card-body">
                        <p>Winners are announced once the draw is completed. Each winners will receive a confirmation message. The winning amount can be claimed immediately after verification. </p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-5">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                       2.	Do I need to verify my account to withdraw my winnings?
                      </button>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="h-5" data-parent="#faqAcc-three">
                      <div class="card-body">
                        <p>Yes you need to verify your account to withdraw your winnings.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-6">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        3. On what basis, the winning number is selected.
                      </button>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="h-6" data-parent="#faqAcc-three">
                      <div class="card-body">
                        <p>You can check the Draw rules here. Fair Draw</p>
                      </div>
                    </div>
                  </div><!-- card end -->
         <div class="card">
                    <div class="card-header" id="h-7">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        4. How many matching combination will get prize for each draw?
                      </button>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="h-7" data-parent="#faqAcc-three">
                      <div class="card-body">
                        <p>You can get more details about the matching combination here. How to Play?</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                </div>
              </div>
              <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">
                <div class="accordion cmn-accordion" id="faqAcc-four">
                  <div class="card">
                    <div class="card-header" id="h-7">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                       1.	How can I check whether my ticket is selected as winner?
                      </button>
                    </div>
                    <div id="collapse7" class="collapse show" aria-labelledby="h-7" data-parent="#faqAcc-four">
                      <div class="card-body">
                        <p>If you are the winner, you will get a confirmation message to your registered email address or mobile number. Please follow the instructions to claim your winnings. </p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-8">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                       2.	How can I withdraw my Bitconia winnings?
                      </button>
                    </div>
                    <div id="collapse8" class="collapse" aria-labelledby="h-8" data-parent="#faqAcc-four">
                      <div class="card-body">
                        <p>Please refer to the How to withdraw to know more about the withdrawal </p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-9">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        3. What happens to my winnings if I do not claim these within 90 days from the winning draw date?
                      </button>
                    </div>
                    <div id="collapse9" class="collapse" aria-labelledby="h-9" data-parent="#faqAcc-four">
                      <div class="card-body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum dignissimos consectetur aspernatur expedita aut reiciendis magni tempore ullam libero, voluptate nam accusamus est a debitis, obcaecati beatae possimus veniam distinctio?</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                </div>
              </div>
              <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <div class="accordion cmn-accordion" id="faqAcc-five">
                  <div class="card">
                    <div class="card-header" id="h-10">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                        1. How can I contact Bitconia customer support?
                      </button>
                    </div>
                    <div id="collapse10" class="collapse show" aria-labelledby="h-10" data-parent="#faqAcc-five">
                      <div class="card-body">
                        <p>You can always mail your concern to this mail id – support email id. </p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-11">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                       2.	Can I join the Bitconia team?
                      </button>
                    </div>
                    <div id="collapse11" class="collapse" aria-labelledby="h-11" data-parent="#faqAcc-five">
                      <div class="card-body">
                        <p>Yes, you can send your Resume to careers@Bitconia.com.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                 
      </div>
              </div>
            </div><!-- tab-content end -->
          </div><!-- faq-body-wrapper end -->
        </div>
      </div>
    </div>
  </section>
  <!-- faq section end -->