  
    
	 <!-- inner-hero-section start -->
     <div class="inner-hero-section style--five">
    </div>
    <!-- inner-hero-section end -->

    <!-- user section start -->
    <div class="mt-minus-150 pb-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="user-card">
              <div class="avatar-upload">
                <div class="obj-el"><img src="assets/images/elements/team-obj.png" alt="image"></div>
                <div class="avatar-edit">
                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url(assets/images/elements/downloaded/pp.png);">
                    </div>
                </div>
              </div>
              <h3 class="user-card__name">Albert Owens</h3>
              <span class="user-card__id">ID : 19535909</span>
            </div><!-- user-card end -->
            <div class="user-action-card">
              <ul class="user-action-list">
                <li ><a routerLink="/user-Draw/myticket">My Tickets <span class="badge">04</span></a></li>
                <li class="active"><a href=""routerLink="/user-setting/accountsecurity">Account Security</a></li>
                <li><a href=""routerLink="/user-setting/accountactivity">Account Activity</a></li>
    
                 <li ><a href=""routerLink="/user-Draw/wallet">Wallet</a></li>
                                <li ><a routerLink="/user-Draw/trans">Transactions</a></li>              
              </ul>
            </div><!-- user-action-card end -->
          </div>
          <div class="col-lg-8 mt-lg-0 mt-5">
            <div class="user-info-card">
              <div class="user-info-card__header">
                <h3 class="user-info-card__title col-md-8">Personal Details</h3>
				
                <button type="button" data-toggle="modal" data-target="#personalchange">Change</button>
								
              </div>
              <ul class="user-info-card__list">
                <li>
                  <span class="caption">Name</span>
                  <span class="value">Albert Owens</span>
                </li>
                <li>
                  <span class="caption">Date of Birth</span>
                  <span class="value">15-03-1974</span>
                </li>
                <li>
                  <span class="caption">Address</span>
                  <span class="value">8198 Fieldstone Dr.La Crosse, WI 54601</span>
                </li>
              </ul>
            </div><!-- user-info-card end -->
            <div class="user-info-card">
              <div class="user-info-card__header">
                <h3 class="user-info-card__title col-md-8">Account Settings</h3>
                
                <button type="button" data-toggle="modal" data-target="#accountchange">Change</button>
			              </div>
              <ul class="user-info-card__list">
                <li>
                  <span class="caption">Language</span>
                  <span class="value">English (United States)</span>
                </li>
                <li>
                  <span class="caption">Time Zone</span>
                  <span class="value">(GMT-06:00) Central America</span>
                </li>
                <li>
                  <span class="caption">Status</span>
                  <span class="value status-active">Active</span>
                </li>
              </ul>
            </div><!-- user-info-card end -->
			<div class="user-info-card">
              <div class="user-info-card__header">
                <h3 class="user-info-card__title col-md-8">Google Authenticator</h3>
                <span class="text-violet"><i class="far fa-pen-nib"></i>X Unset</span>
                <!-- <button type="button"><i class="far fa-edit"></i> Edit</button> -->
				<a href="#" class="text-violet" data-toggle="modal" data-target="#googleauth">Enable</a>
              </div>
			  <div class="m-3 text-white">Enable to protect your account and transactions</div>
              <ul class="user-info-card__list">
                <li>
				  <!-- <span class="caption">Authenticator</span> -->
                  <!-- <span class="value">On</span> -->
                </li>
              </ul>
            </div><!-- user-info-card end -->
            <div class="user-info-card">
              <div class="user-info-card__header">
                <h3 class="user-info-card__title col-md-8">Email Addresses</h3>
             
               
                 <button type="button" data-toggle="modal" data-target="#emailchange">Change</button>
				<a href="#" class="text-violet" data-toggle="modal" data-target="#emailremoveconfirm">Remove</a>
              </div>
			  
              <ul class="user-info-card__list">
                <li>
				  <span class="caption">Email</span> 
                  <span class="value">albert349@gmail.com</span>
                </li>
              </ul>
            </div><!-- user-info-card end -->
            
			<div class="user-info-card">
              <div class="user-info-card__header">
                <h3 class="user-info-card__title col-md-8">Phone</h3>
				
           <button type="button" data-toggle="modal" data-target="#phonechange">Change</button>
				<a href="#" class="text-violet" data-toggle="modal" data-target="#phoneremoveconfirm">Remove</a>
              </div>
			 
              <ul class="user-info-card__list">
                <li>
                  <span class="caption">Mobile</span> 
                   <span class="value">+1 234-567-8925</span>
                </li>
              </ul>
            </div><!-- user-info-card end -->
            <div class="user-info-card">
              <div class="user-info-card__header">
                <h3 class="user-info-card__title col-md-8">Password</h3>
              
                <button type="button" data-toggle="modal" data-target="#pwdchangeconfirm">Change</button>
				
              </div>
              <ul class="user-info-card__list">
                <li>
                  <span class="caption">Password</span>
                  <span class="value user-password">***************</span>
                </li>
              </ul>
            </div><!-- user-info-card end -->
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="googleauth" tabindex="1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="account-form-area">
              <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close"><i class="las la-times"></i></button>
              <h3 class="title">Security Verification</h3>
              <div class="account-form-wrapper">
                <form>
               
               <div class="form-group">
                    <label class="mb-3">SMS Verification code <sup>*</sup></label>
                    <input type="text" name="signup_pass" id="signup_pass" placeholder="SMS Code" required>
                  </div>
          <div class="d-flex flex-wrap justify-content-end mt-3">
               <a href="#" class="link">Get code</a>
           </div>
          
                   <div class="form-group text-center">
                     <button class="cmn-btn style--three btn--sm centered m-2" data-toggle="modal" data-target="#gogleverify" data-dismiss="modal">Next</button>
            </div>
                </form>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="personalchange" tabindex="1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="account-form-area">
              <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close"><i class="las la-times"></i></button>
              <h3 class="title">Personal details</h3>
              <div class="account-form-wrapper">
                <form>
               
                  <div class="form-group">
                    <label>Name <sup>*</sup></label>
                    <input type="text" name="login_pass" id="old_pass" placeholder="Enter Name" required>
                  </div>
            <div class="form-group">
                    <label>Date of Birth <sup>*</sup></label>
                    <input type="text" name="login_pass" id="old_pass" placeholder="Enter DOB" required>
                  </div>
            <div class="form-group">
                    <label>Address </label>
                    <input type="text" name="login_pass" id="old_pass" placeholder="Enter Address" >
                  </div>
          
                  <div class="form-group text-center mt-5">
                    <button class="cmn-btn style--three btn--sm ">Submit</button>
                  </div>
                </form>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <div class="modal fade" id="accountchange" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="account-form-area">
            <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close"><i class="las la-times"></i></button>
            <h3 class="title">Accounts Settings</h3>
            <div class="account-form-wrapper">
              <form>
             
              <div class="form-group">
                  <label>Language <sup>*</sup></label>
                  <input type="text" name="login_pass" id="old_pass" placeholder="Enter Language" >
                </div>
				  <div class="form-group">
                  <label>Time Zone <sup>*</sup></label>
                  <input type="text" name="login_pass" id="old_pass" placeholder="Enter Time Zone" >
                </div>
				  <div class="form-group">
                  <label>Status </label>
                  <input type="text" name="login_pass" id="old_pass" placeholder="Enter Status" >
                </div>
                <div class="form-group text-center mt-5">
                  <button class="cmn-btn style--three btn--sm ">Submit</button>
                </div>
              </form>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="emailremoveconfirm" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="account-form-area">
            <!-- <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close"><i class="las la-times"></i></button> -->
            <h5 class="title">Remove Email verification?</h5>
            <div class="account-form-wrapper">
           <p>  Withdrawals and P2P selling will be disabled for 24 hours after you make this change to protect your account.</p>
 <p>The old email is prohibited from re-registering within 30 days after removing or changing</p>
 <p>Two security verification methods are required for withdrawals and other actions. Using only one verification method will limit your withdrawals.</p>
			<div class="justify-content-between mt-2">
               <a href="#" class="cmn-btn style--three btn--sm centered m-2" data-dismiss="modal" aria-label="Close">Cancel </a>
			    <a href="#" class="cmn-btn style--three btn--sm centered m-2" data-dismiss="modal" aria-label="Close">Confirm </a>
			   </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="phoneremoveconfirm" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="account-form-area">
            <!-- <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close"><i class="las la-times"></i></button> -->
              <h5 class="title">Remove Phone verification?</h5>
            <div class="account-form-wrapper">
           <p>Withdrawals and P2P selling will be disabled for 24 hours after you make this change to protect your account.</p>
<p>Two security verification methods are required for withdrawals and other actions. Using only one verification method will limit your withdrawals.</p>
			<div class="justify-content-between mt-2">
               <a href="#" class="cmn-btn style--three btn--sm centered m-2" data-dismiss="modal" aria-label="Close">Cancel </a>
			    <a href="#" class="cmn-btn style--three btn--sm centered m-2" data-dismiss="modal" aria-label="Close">Confirm </a>
			   </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="pwdchangeconfirm" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="account-form-area">
            <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close"><i class="las la-times"></i></button>
            <h3 class="title">Change password</h3>
            <div class="account-form-wrapper">
              <form action="#"[formGroup]="loginForm" (ngSubmit)="changepassword()"method="post" data-parsley-validate="" novalidate="">
               
                <div class="form-group">
                  <label>Old password <sup>*</sup></label>
                  <input type="password"  formControlName="oldPass" name="login_pass" id="old_pass" placeholder="Enter old password">
                </div>
				<div class="form-group">
                  <label>New password <sup>*</sup></label>
                  <input type="password"formControlName="newPass" name="login_pass" id="new_pass" placeholder="Enter new password">
                </div>
				<div class="form-group">
                  <label>confirm password <sup>*</sup></label>
                  <input type="password" formControlName="confirmPass" name="login_pass" id="confirm_pass" placeholder="Enter confirm password">
                </div>
                <div class="form-group text-center mt-5">
                  <button type="submit" class="cmn-btn style--three btn--sm ">Change Password</button>
                </div>
              </form>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>