  <!-- header-section end  -->
   <!-- inner-hero-section start -->
   <div class="inner-hero-section style--four">
    <!-- <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape-2.png" alt="image"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="page-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="#0">Pages</a></li>
            <li class="active">Fraud Awareness</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- inner-hero-section end -->

<!-- faq section start -->
  <section class="pb-120 mt-minus-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="faq-top-wrapper pt-120">
            <div class="section-header text-center">
               <h2 class="section-title">Fraud Awareness</h2>
              <p class="mt-5">Our security procedures and Code of Ethics ensure utmost confidentiality at all times of the information you entrusted to us. However, you also play an important role in keeping this information secure. Please keep in mind the points below to find what you can do to enjoy convenience with absolute peace of mind.</p>
            </div>
           
          </div><!-- faq-top-wrapper end -->
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="faq-body-wrapper">
             <div class="accordion cmn-accordion" id="faqAcc-one">
                  <div class="card">
                    <div class="card-header" id="h-1">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                      Protect your Password and Personal Information:
                      </button>
                    </div>
                    <div id="collapse1" class="collapse show" aria-labelledby="h-1" data-parent="#faqAcc-one">
                      <div class="card-body">
                      <p class="my-2"> 1.	Do not use passwords that are easy to guess, e.g. your name, your date of birth, your telephone number(s), etc.</p>
<p class="my-2">2.	Use a combination of upper and lower case letters as well as numbers.</p>
<p class="my-2">3.	Do not use share your password with anyone and do not use the same password for other websites.</p>
<p class="my-2">4.	Change your password frequently and never write it down.</p>
<p class="my-2">5.	Important: No one at Bitconia will ever ask you for your account password. If someone does ask you for it, they do not represent the Bitconia and you should not under any circumstance provide this information.

           
</p>
                      </div>
                    </div>
                  </div><!-- card end -->
          <div class="card">
                    <div class="card-header" id="h-2">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                      Protect your Computer and Internet session:
                      </button>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="h-2" data-parent="#faqAcc-one">
                      <div class="card-body">
           <p class="my-2">1.	Never share your computer.
<p class="my-2">2.	Use a password on your PC to prevent unauthorised access to your information.
<p class="my-2">3.	Be wary of opening email messages from untrustworthy sources, especially if they contain attachments.
<p class="my-2">4.	Do not reply to emails that request your personal information. They may appear to come from a trusted friend or business, but they are designed to trick you in disclosing sensitive personal information.
<p class="my-2">5.	Use personal firewalls and anti-virus software.
<p class="my-2">6.	Avoid downloading software such as screen savers, desktop themes, games, and other executable type programs from websites that are obscure or unidentifiable. These programs may contain Trojan viruses that would enable hackers to monitor or take over your PC.
<p class="my-2">7.	Disable all unnecessary services running on your computer.
<p class="my-2">8.	Always verify that the site is the genuine Bitconia site.
<p class="my-2">9.	Do not leave your Bitconia session unattended at any time.
</p>
                      </div>
                    </div>
                  </div><!-- card end -->
        
                  <div class="card">
                    <div class="card-header" id="h-3">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                     Phising
                      </button>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="h-3" data-parent="#faqAcc-one">
                      <div class="card-body">
                        <p class="my-2">Phishing is a deceitful act where fraudsters send you an authentic looking email that appears to come from Bitconia, but in reality have been sent to you by imposters in an attempt to obtain your personal and financial information. Through these emails, they lure you to click on links that re-direct you to fraudulent websites, which have been designed to make you think that you are actually on the original bank site. These fake websites will ask you for information like your username, password, date of birth, etc. all with the intention to take your personal information and then commit fraud.</p>
            <p class="my-4">If you suspect phishing or have come across an email scam, here’s what you can do:</p>
                    <ul>
            <li class="mb-2"><i class="las la-caret-right" style="color: #fb6468"></i>
Do not click on any of the links provided in the scam mail </li>

<li class="mb-2"><i class="las la-caret-right" style="color: #fb6468"></i>Forward the mail to an Bitconia customer support </li>
<li class="mb-2"><i class="las la-caret-right" style="color: #fb6468"></i>Run your anti-virus software to check for infections</li>
<li class="mb-2"><i class="las la-caret-right" style="color: #fb6468"></i>Delete the email from your computer</li>

</ul> 
           </div>
                    </div>
                  </div><!-- card end -->
                
        
                </div>
             
    </div><!-- faq-body-wrapper end -->
        </div>
      </div>
    </div>
  </section>